<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%= react_component("LinkButton", name: 'Help', url: '/help') %>
<%= react_component("LinkButton", name: 'Sign Up', url: '/signup') %>
<%= react_component("LinkButton", name: 'Log In', url: '/login') %>
