<p>下記URLへアクセスしていただくと、パスワードの再設定画面が表示されます。</p>
<p>新しいパスワードを入力し、パスワード再設定を完了してください。</p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>(注意) このメールの有効期間は2時間となります。有効期間を過ぎるとURLは無効となりますので、ご注意ください。</p>
<p>このメールに心当たりのない場合は無視してください。</p>
