<div style="display:flex;height:100%">
  <aside style="height:100%;position:fixed"><%= react_component("UserSideMenu", { currentUser: current_user }, { style: "height:100%" }) %></aside>
  <main style="flex:1;margin-left:240px"><%= react_component("UserPosts", { user: @user, posts: @posts }, { style: "height:100%" }) %></main>
</div>
