<div style="display:flex;height:100%">
  <aside style="height:100%;position:fixed">
    <%= react_component("UserSideMenu", { currentUser: current_user }, { style: "height:100%" }) %>
  </aside>
  <main style="flex:1;margin-left:240px">
    <%= react_component("PostShow", {
      post: @post,
      patchToken: form_authenticity_token(form_options: { action: post_path(@post), method: "patch" }),
      deleteToken: form_authenticity_token(form_options: { action: post_path(@post), method: "delete" })
    }, {
      style: "height:100%"
    }) %>
  </main>
</div>
